@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Lora');

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(53, 59, 64);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logoHome span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 164px;
    height: 34px;
    background: url(../img/BusinessPlus_Logo.png) center no-repeat;
    margin: 12px 0;
}

.menubar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: right;
}

.linkMenu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 58px;
}

.linkMenu:hover {
    background-color: rgb(54, 168, 255);
}

.linkMenu a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    padding: 1.2em 1.5em;
}

.imgCarrossel img {
    position: relative;
    margin-top: 58px;
    width: 100%;
}

section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section:first-of-type{
    padding-top: 0;
    padding-bottom: 0;
}

.container.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 58px;
    bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dot-carrossel {
    float: right;
    direction: rtl;
    padding: 0;
}

.dot {
    display: block;
    background-color: rgb(53, 59, 64);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dot:last-of-type {
    margin-bottom: 0px;
}

.dot.active {
    background-color: rgb(54, 168, 255);
}

.contato-carrossel {
    font-family: "Raleway", "Arial", sans-serif;
    color: rgb(53, 59, 64);
    text-transform: uppercase;
}

.contato-carrossel h3 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
}

.contato-carrossel h1 {
    font-size: 60px;
    font-weight: bolder;
}

.btn-contato {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: rgb(255, 175, 54);
    margin-top: 1rem;
}

.btn-contato .fone,
.btn-contato .mail {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 48px;
    height: 50px;
}

.btn-contato .fone {
    background: url(../img/phone_icon.png) center no-repeat rgb(53, 59, 64);
}

.btn-contato .mail {
    background: url(../img/email_icon.png) center no-repeat rgb(53, 59, 64);
}

.btn-contato p,
.btn-contato a {
    font-size: 15px;
    font-family: "Open Sans";
    color: rgb(53, 59, 64);
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-contato p {
    width: 160px;
}

.btn-contato a {
    width: 240px;
}

.btn-contato a:visited {
    color: rgb(53, 59, 64);
}

.left {
    float: left;
    padding-left: 0;
}

.right {
    float: right;
}

.title-section {
    font-size: 30px;
    font-family: "Raleway", "Arial", sans-serif;
    color: rgb(28, 28, 28);
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.subtitle {
    font-size: 16px;
    font-family: "Lora", serif;
    color: rgb(28, 28, 28);
}
#sobre .flex{
    padding-top: 4rem;
    padding-bottom: 3.5rem;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.right.parag {
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgb(88, 88, 88);
    line-height: 2;
}

.btn-more {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 13px;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid;
    width: 130px;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.2rem;
}

.laranja,
.laranja a,
.btn-more.laranja {
    color: rgb(255, 175, 54);
    border-color: rgb(255, 175, 54);
}

#servicos{
    background-color: rgb(234, 239, 243);
}
